@model EcomparePortal.Models.ClaimDocuments

@{
    ViewBag.Title = "AddClaimDocument";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddClaimDocument</h2>

@using (Html.BeginForm("AddClaimDocument", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ClaimDocuments</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("Id", (string)ViewBag.id)
        <div class="form-group">
            <label class="control-label col-md-2">Logo</label>
            <div class="col-md-5">
                <input type="file" class="form-control" name="file" accept="image/*" />
            </div>
        </div>

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
